<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>
  </head>
  <body>
    <h1>Admin Login Page</h1>
    <form method="POST" action="/admin/login">
      <div class="input-fields">
        <label for="name">Name</label>
        <input name="name" type="text" placeholder="Name" />
      </div>
      <div class="input-fields">
        <label for="password">Password</label>
        <input name="password" type="password" />
      </div>

      <% if (locals.isError) { %>
      <div class="alert-error">Username or Password doesn't match!!</div>
      <% } %>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
