<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Database</title>

    <link rel="stylesheet" href="home/home.css" />
  </head>
  <body>
    <h1>Home Page in Development!!</h1>

    <div class="links">
      <a href="/student/form">Student</a>
      <a href="/admin">Admin</a>
    </div>

    <!-- Show list of students -->
    <div class="student-list">
      <h2>Members</h2>
      <div>
        <% for(var i=0; i < students.length; i++) { %>
        <a href="<%= students[i].linkedIn %>">
          <%= students[i].firstName %> <%= students[i].lastName %>
        </a>
        <% } %>
      </div>
    </div>
  </body>
</html>
